// Componente Map (Mapa de Google) con BEM
@use 'variables' as *;

.map-container {
    position: relative;
    width: 100%;
    height: 197px;
    background-color: $gris-claro;
    overflow: hidden;

    // Iframe
    &__iframe {
        width: 100%;
        height: 100%;
        border: 0;
        display: block;
    }

    // Tablet
    @media (min-width: $breakpoint-tablet) {
        height: 250px;
    }

    // Desktop
    @media (min-width: $breakpoint-desktop) {
        height: 300px;
    }
}