// Mixins reutilizables

@use 'variables' as *;

// Flexbox centering
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Media Queries
@mixin respond-to($breakpoint) {
    @if $breakpoint ==tablet {
        @media (min-width: $breakpoint-tablet) {
            @content;
        }
    }

    @else if $breakpoint ==desktop {
        @media (min-width: $breakpoint-desktop) {
            @content;
        }
    }

    @else if $breakpoint ==large {
        @media (min-width: $breakpoint-large) {
            @content;
        }
    }
}

// Focus styles (accesibilidad)
@mixin focus-style {
    &:focus-visible {
        outline: 3px solid $rosa-principal;
        outline-offset: 2px;
    }
}